.modal_wrapper{
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background: black(0,0,0, .2);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.open{
  height: 100%;
  display: block;
}
.close{
  height: 0;
  display: none;
}
.modal_body{
  width: 25vw;
  height: 50vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center
}
.nav{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.closeButton{
  text-align: end;
  height: 10px;
  margin: 0;
  width: 100%;
  font-size: 40px;
}
