.card{
  display: flex; 
  align-items: center; 
  justify-content: center;
  margin-top: 20px;
}

.imgDiv{
  height: 800px;
  width: 529px;
  display: flex; 
  text-align: center;
}
.text{
  text-align: justify;
}
.discrabeDiv{
  height: 800px;
  width: 400px;
  text-align: center;
  margin-left: 10px;
}
.rendButton {
  color: white;
  background-color: #009688;
  width: 400px;
  height: 60px;
}
.label:checked+label{
background-color: #009688;
}

.title{
  text-align: justify;
}

.line {
  margin-top: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid black; 
 }
.pTitle{
  text-align: center;
}
.size{
  border-radius: 20%;
}
