.card{
  display: flex; 
  align-items: center; 
  justify-content: center;
}
.checkButton{
  width: 308px;
  height: 100px;
}
.imgDiv{
  height: 800px;
  width: 529px;
  display: flex; 
  align-items: center; 
  justify-content: center;

}
.bigImg{
  height: 800px;
  width: 429px;
 
}
.smallImg{
  height: 800px;
  width: 100px;
}
.discrabeDiv{
  height: 800px;
  width: 529px;
  text-align: center;
}
.rendButton {
  color: white;
  background-color: #009688;
  width: 308px;
  height: 60px;
}
.h6{
  font-weight: bold;
  text-align: left;
}
