.cartCard{
  width: 280px;
  height: 400px;
}
.cartImg{
  width: 280px;
  height: 380px;
}
img{
  width: 100%;
  height: 100%;
}
.button{
  color: white;
  background-color: #009688;
  width: 308px;
  height: 60px;
}

.cart{
  width: 100vw;
  display: grid;
  grid-template-rows: 600px;
  justify-items: center;
}
.cartText{
  text-align: center;
  text-transform: uppercase;
  color: #009688;
}

.mainText{
  text-align: center;
}
.price{
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}
.listProduct{
  width: 1100px;
  display: grid;
  grid-template-columns: 400px 400px 400px;
}
.summ {
  margin-bottom: 20px;
}
